body{
	font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
	width: 99%;
	font-size: 0.8em;
}
#top{
	width: 99%;
	height: auto;
	border: 1px solid #000;
	text-align: center;
	margin: 0px;
}
#top p{
	vertical-align: middle;
	font-size: 1.2em;
	margin: 0px;
}
#left{
	width: 75%;
	min-width: 700px;
	min-height: 550px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#right{
	width: 24%;
	min-width: 300px;
	min-height: 550px;
	border: 1px solid #000;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: auto;
}
table{
	border-collapse:collapse;
	margin: 0px auto;/* note 使表格本身左右居中*/
}
th{
	font-weight: normal;
	border: 1px solid #000;
	text-align: center;
	background-color: #ffa;
	padding: 0px 1px;
	margin: 0px;
	width: auto;
}
td{
	font-weight: normal;
	border: 1px solid #000;
	text-align: center;
	padding: 0px 1px;
	margin: 0px;
	width: auto;
}
.RiQi{
	min-width: 70px;
}
.JingHao{
	min-width: 75px;
}
.BanZu{

}
.MuQianJingBie{

}
.QuKuaiDanYuan{
	min-width: 90px;
}
.KaiCaiCengWei{
	max-width: 120px;
}
.ChongCheng{
	min-width: 28px;
}
.ChongCi{
	min-width: 28px;
}
.YouZui{
	min-width: 28px;
}
.ShangXingDianLiu{
	min-width: 33px;
	max-width: 33px;
}
.XiaXingDianLiu{
	min-width: 33px;
	max-width: 33px;
}
.PingHengLv{

}
.ShengChanShiJian{
	min-width: 53px;
}
.BengJing{
	min-width: 28px;
	max-width: 28px;
}
.BengShen{
	min-width: 30px;
	max-width: 30px;
}
.YeMianShiJian{

}
.YeMian{
	min-width: 45px;
	max-width: 45px;
}
.ChenMoDu{
	min-width: 30px;
	max-width: 30px;
}
.LiLunPaiLiang{
	min-width: 30px;
	max-width: 30px;
}
.BengXiao{
	min-width: 28px;
	max-width: 28px;
}
.YouYa{
	min-width: 28px;
	max-width: 28px;
}
.TaoYa{
	min-width: 28px;
	max-width: 28px;
}
.HuiYa{
	min-width: 28px;
}
.RiChanYe{
	min-width: 40px;
	max-width: 40px;
}
.RiChanYou{
	min-width: 40px;
	max-width: 40px;
}
.RiChanQi{
	min-width: 40px;
}
.HanShui{
	min-width: 28px;
	max-width: 28px;
}
.BeiZhu{
	/*min-width: 200px;*/
	max-width: 200px;
}
#table_sum td{
	font-weight: bold;
}
.indicator_diagram{
	width: 300px;
}
.liquid_level{
	width: 300px;
}
img{
	border: 1px solid #000;
	max-width: 700px;
}
/*鼠标滑过预览大图*/
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}
ul{
	text-align: left;
	padding: 0px;
	margin: 7px 14px;
	font-size: 1.2em;
}
.tab_head{
	display: inline-block;
	padding: 3px 7px;
	cursor: pointer;
	border: 1px solid #000;
}
.tab_content{
	display: none;
}
#tab_content_1{
	display: block;
}
