body{
	font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
	width: 99%;
	font-size: 0.8em;
}
#top{
	width: 99%;
	height: auto;
	text-align: center;
	margin: 0px;
	border-bottom: 1px solid #000;
}
#top p{
	vertical-align: middle;
	font-size: 1.2em;
	margin: 0px;
}
#left{
	min-width: 600px;
	min-height: 550px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
table{
	border-collapse:collapse;
	margin: 0px auto;/* note 使表格本身左右居中*/
}
th{
	font-weight: normal;
	border: 1px solid #000;
	text-align: center;
	background-color: #ffa;
	padding: 0px 1px;
	margin: 0px;
	width: auto;
}
td{
	font-weight: normal;
	border: 1px solid #000;
	text-align: center;
	padding: 0px 1px;
	margin: 0px;
	width: auto;
}
.RQ{
	min-width: 70px;
	width: 70px;
}
.JH{
	min-width: 75px;
	width: 75px;
}
.CC{
	min-width: 28px;
}
.CC1{
	min-width: 28px;
}
.YZ{
	min-width: 28px;
	max-width: 28px;
}
.SCSJ{
	min-width: 30px;
	max-width: 30px;
	overflow: hidden;
}
.BJ{
	min-width: 28px;
	max-width: 28px;
}
.PL{
	min-width: 30px;
	max-width: 30px;
}
.YY{
	min-width: 28px;
	max-width: 28px;
}
.TY{
	min-width: 28px;
	max-width: 28px;
}
.HY{
	min-width: 28px;
}
.RCYL1{
	min-width: 40px;
	max-width: 40px;
}
.RCYL{
	min-width: 40px;
	max-width: 40px;
}
.RCQL{
	min-width: 40px;
}
.HS{
	min-width: 28px;
	max-width: 28px;
}
.BZ{
	min-width: 230px;
	max-width: 230px;
}
#table_sum td{
	font-weight: bold;
}
.indicator_diagram{
	width: 280px;
}
.liquid_level{
	width: 280px;
}

/*功图液面*/
#right{
	min-width: 350px;
	/*border: 1px solid #000;*/
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: auto;
}
.tab_selected{
	background-color: #99f !important;
}
.tab_unselected{
	background-color: #fff !important;
}
img{
	border: 1px solid #000;
	max-width: 700px;
}
/*鼠标滑过预览大图*/
#preview{
	position:fixed;
	border:1px solid #ccc;
	background:#333;
	padding:3px;
	display:none;
	color:#fff;
}
ul{
	text-align: left;
	padding: 0px;
	margin: 7px 14px;
	font-size: 1.2em;
}
.tab_head{
	display: inline-block;
	padding: 3px 7px;
	cursor: pointer;
	border: 1px solid #000;
}
.tab_content{
	display: none;
}
#tab_content_4{
	display: block;
}
/*曲线图*/
#div_chart{
	display: inline-block;
}
/*管柱图*/
#div_tube_rod{
	display: inline-block;
	/*width: 600px;*/
}
.tube_rod{
	max-width: 300px;
	display: inline-block;
}