body{
	font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
}
#div_login{
	width: 300px;
	height: 200px;
	border: 1px solid #000;
	text-align: center;
	margin: 50px auto;
	padding: 20px 0px;

}
input{
	margin: 3px;
}
label[for="input_is_save_login_status"]{
	font-size: 0.8em;
}
#p_wrong_warning{
	font-size: 0.8em;
	color: #f00;
}