body{
	font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
	width: 99%;
	font-size: 0.8em;
}

#query{
	width: 768px;
	border: 1px solid #000;
	padding: 20px;
	margin: auto;
}
#field_checkbox{
	border: 1px solid #000;
	display: inline-block;
	text-align: left;
	padding: 0px 5px;
}
#query_form{
	display: inline-block;
	vertical-align: top;
	margin: 50px 50px;
}
#jinghao_hint{
	/*position: relative;*/
}
#hint{
	display: none;
	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	/*left: 180px;*/
	/*z-index: 2;*/
}
li{
	list-style: none;
}
li.li_selected{
	background-color: rgb(218,233,254);
}