body{
	font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
	width: 99%;
	font-size: 0.8em;
}
/*index.php*/
#query{
	width: 600px;
	height: 450px;
	border: 1px solid #000;
	margin: 50px auto;
}
#jinghao_hint{
	/*position: relative;*/
}
#hint{
	display: none;
	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	/*left: 180px;*/
	/*z-index: 2;*/
}
li{
	list-style: none;
}
li.li_selected{
	background-color: rgb(218,233,254);
}

/*display.php*/
#top{
	width: 98%;
	height: 50px;
	border: 1px solid #000;
}
#left{
	width: 74%;
	min-width: 700px;
	min-height: 550px;
	/*border: 1px solid #000;*/
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#right{
	width: 24%;
	min-width: 300px;
	min-height: 550px;
	border: 1px solid #000;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	overflow: auto;
}
table{
	/*width: 100%;*/
	border-collapse:collapse;
	margin: 0px auto;/* note 使表格本身左右居中*/
}
th{
	font-weight: normal;
	border: 1px solid #000;
	text-align: center;
	background-color: #ffa;
	padding: 0px 1px;
	margin: 0px;
	width: auto;
}
td{
	font-weight: normal;
	border: 1px solid #000;
	text-align: center;
	padding: 0px 1px;
	margin: 0px;
	width: auto;
}
.RiQi{
	min-width: 70px;
}
.JingHao{
	min-width: 75px;
}
.KaiCaiCengWei{
	max-width: 120px;
}
.BeiZhu{
	max-width: 200px;
}
#table_sum td{
	font-weight: bold;
}
.indicator_diagram{
	width: 300px;
}
img{
	border: 1px solid #000;
	max-width: 700px;
}
/*鼠标滑过预览大图*/
#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}