body{
	font-family: "Segoe UI", Arial, "Microsoft Yahei", sans-serif;
	width: 99%;
}
/*index.php*/
#query{
	width: 600px;
	height: 450px;
	border: 1px solid #000;
	margin: 50px auto;
}
/*display.php*/
#top{
	width: 98%;
	height: 50px;
	border: 1px solid #000;
}
#left{
	width: 69%;
	min-width: 700px;
	min-height: 550px;
	border: 1px solid #000;
	display: inline-block;
	vertical-align: top;
}
#right{
	width: 29%;
	min-width: 300px;
	min-height: 550px;
	border: 1px solid #000;
	display: inline-block;
	vertical-align: top;
}